{
  "root": true,
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
     'plugin:react/recommended',
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "."
        ],
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    }
  },
  "rules": {
    "react/prop-types": "off",
    "comma-dangle": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "max-len": "off",
    "no-console": "off",
    "no-plusplus": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "react/jsx-no-duplicate-props": [1, { "ignoreCase": false }],
    "react/display-name": "off",
    "react/jsx-key": [<enabled>, { "checkFragmentShorthand": <boolean> }]
  }
}
